$breakpoints: (
    "sm": 320px,
    "mm": 375px,
    "mm2": 425px,
    "md": 768px,
    "lg": 1000px,
    "xl": 1280px
);

@mixin sm {
    @media (max-width: map-get($breakpoints, "sm")) {
        @content;
    }
};

@mixin mm {
    @media (max-width: map-get($breakpoints, "mm")) {
        @content;
    }
};
@mixin mm2 {
    @media (max-width: map-get($breakpoints, "mm2")) {
        @content;
    }
};

@mixin md {
    @media (max-width: map-get($breakpoints, "md")) {
        @content;
    }
};



@mixin lg {
    @media (max-width: map-get($breakpoints, "lg")) {
        @content;
    }
};

@mixin xl {
    @media (max-width: map-get($breakpoints, "xl")) {
        @content;
    }
};


.container {
    padding: 32px;
    margin: 0 auto;
    height: 100%;
  
    @include sm {
      padding: 0 20px; 
    }
  
    @include xl {
      padding: 32px; 
    }
  }




@mixin retina {
	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		@content;
	}
}

@mixin small-mobile {
	@media screen and (max-width: 374.98px) {
		@content;
	}
}
