

@import "../styles/variables.scss"; 

.button_elem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 24px;
  margin: 8px 0px;
  border-radius: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  &.button-upload {
    background-color: $yellowlight !important;
    color: $black !important;

    .button-text {
      color: $black !important;
    }
  }
}

.button_elem.primary {
  background-color: $orange;
  color: white;
}

.button_elem.white {
  background: $yellowlight;
  color: $orange;
  border: none;
}

.clear_icon {
  position: absolute;
  right: 5px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.button-icon {
  margin-left: 8px;
  width: 16px;
  height: 16px;
}

.button-children, .button-text {
  display: flex;
  align-items: center;
}
