
@import "../styles/variables.scss";

.button_elem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 24px;
  margin: 8px 0px;
  border-radius: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  &.button-upload {
    background-color: $yellowlight !important;
    color: $black !important;

    .button-text {
      color: $black !important;
    }
  }

  &.primary {
    background-color: $orange;
    color: $white;

    &:hover {
      background-color: $yellowlight;
      color: $orange;
    }

    &:active {
      background-color: $yellowlight;
      color: $orange;
    }
  }

  &.white {
    background: $white;
    color: $black;
    border: 1px solid $orange;

    &:hover {
      background: darken($yellowlight, 10%);
    }

    &:active {
      background-color: #f6b83d;
      color: $white;
    }

    &.active {
      background-color: $orange;
      color: $white;
    }
  }

  &.active {
    background-color: $orange;
    color: $white;
  }
}

.button_elem span {
  color: inherit;
}

.clear_icon {
  position: absolute;
  right: 5px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.button-icon {
  margin-left: 8px;
  width: 16px;
  height: 16px;
}

.button-children, .button-text {
  display: flex;
  align-items: center;
}

