@import "../styles/variables.scss";
@import "../styles/breakpoints.scss";


.button_elem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;
    margin: 8px 0px;
    border-radius: 50px;
    color: $white;
    background-color:$orange;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    cursor: pointer;
}

.yellow{
    background-color: #FFE44D;
    border: none;
    border-radius: 30px;
    padding: 20px;
    :hover{
        background-color: #fff;

    }
}

.white {
    background-color: white;
    border: 0.5 solid #CFD8DC;
}