
@import "../styles/variables.scss";
@import "../styles/breakpoints.scss";

.button-auth {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f6b83d;
  border-radius: 30px;
  padding: 15px 39px;
  color: $black;
  background-color: $white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  z-index: 10;
  width: 119px;
  height: 48px;
  transition: border 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  white-space: nowrap; 

  &:hover {
    background-color: $yellowlight;
    color: $orange;
  }



  @include lg {
    font-size: 12px;
    margin-right: 16px;
  }

  @include md {
    margin-right: 5px;
    padding: 10px 15px;
  }

  @include mm2 {
    display: none;
  }


  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $orange;
    }
  }
}
.auth-bar{
  gap: 8px;
  justify-content: flex-end;
  
}
.auth-bar button {
  width: 100%;
  width: 178px;
  align-items: center;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  background-color:$orange !important;
  z-index: 30;
  position:relative;

  &:hover, 
  &:active {
    background-color: $yellowlight !important;
    color: $orange;
  }

}

.button-auth {
  color: $white; 
  text-transform: uppercase;
 


  @include lg {
    font-size: 12px;
   }
  }