

.lableText {
    text-align: start;
    color: #8a8a89;
  
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
  }
  
  .text{
      text-align: start;
      color: #8a8a89;
    
      font-family: Manrope;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
    
      position: absolute;
  }