
@import "../styles/variables.scss";
@import "../styles/breakpoints.scss";

.find_pets_container {
    margin: 40px 0px 40px 0px;
    overflow: visible; 
}

.pets_section {
    height: 100%;
    overflow-y: auto;
}

h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 54px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #262626;
}
