@import "../styles/variables.scss";
@import "../styles/breakpoints.scss";


.header {
  display: flex;
  justify-content: center;
  padding: 22px 34px; 
  background-color: white;
  
  
  @include xl {
    
    transition: padding 0.3s ease; 
  }
@include md {
  padding: 43px 32px;
}
  @include mm{
    padding: 20px 10px;
  }
}

.homePageHeader {
  background-color: $orange;
}



.center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  
  
  @include sm {
    flex-wrap: wrap; 
  }
  @include md {
    
  }
}

.logo img {
  max-width: 100%; 
}

.nav-links {
  display: flex;
  flex-wrap: wrap;  
  padding: 0;
  
}

  
  .burger-menu {
    display: none;
    @include md {
      display: block;
      cursor: pointer;
    }
  }
  