@import "../styles/variables.scss";
@import "../styles/breakpoints.scss";

.hero {
  display: flex;
  justify-content: space-between;
  color: $white;
  
 
  
}


h1 {
  font-weight: 700;
  line-height: 97%;
  letter-spacing: -0.03em;
  font-size: 90px;

  @include lg{
    font-size: 60px;
    
  }
}

span {
  color: $yellow;
}


.section_second {
  max-width: 1216px;
  max-height: 384px;
  overflow: hidden;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

}


.section_first {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
    padding:112px 64px 32px ;
    background-color: $orange;
    width: 100%;
    
    border-bottom-right-radius:  60px;
    border-bottom-left-radius:  60px;
    @include md {
        gap: 10px;
    }
    
  }
  

  
  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    margin-top: auto; 
  }
  