
@import "../styles/variables.scss";
@import "../styles/breakpoints.scss";

.login-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    justify-content:center;
    width: 100%;
    gap: 32px;
  


    @include md {
        background-position: center;
        justify-content: center;
        align-items: center;
    
}
    }

    .login-img-page{
        border-radius: 60px;
        max-width: 702px;
        object-fit: cover;
        @include md {

            width: 90%;
            height: 302px;
            margin: 0 auto;       
        }
        
        
    }
    .login-form-page{
        display: flex;
        align-items: center;
    
}