
@import "../styles/variables.scss";
@import "../styles/breakpoints.scss";

.login-page{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 32px;
    height: 100vh;
    margin: 10px auto;


    @include md {
        background-position: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px auto;
    
}
    }

    .login-img-page{
        border-radius: 60px;
        max-width: 592px;
        object-fit: cover;
        @include md {

            width: 90%;
            margin: 0 auto;
            
        }
        
        
    }
    .login-form-page{
        width: 50%;
        height: 100vh;
        display: flex;
        align-items: center;
    
}