@import "../styles/variables.scss";
@import "../styles/breakpoints.scss";

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:$backdrop;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.modal-window {
  background-color: white;
  border-radius: 30px;
  width: 473px;
  height: auto; 
  overflow: hidden;
  position: relative;
}


.modal-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-btn {
  width: 24px;
  position: absolute;
  top: 30px;
  right: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.pet-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pet-info img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.pet-info h2 {
  margin-top: 0;
  margin-bottom: 10px;
 
font-weight: 700;
font-size: 18px;
line-height: 1.33;
color:$black;
}
.modal-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.pet-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
}

.pet-info img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  position: relative;
}

.category_modal{
  position: absolute;
  top: 8%;
  left:35%;
  color: $orange;
  background-color:$yellowlight;
  border-radius: 30px;
  padding: 6px 8px;
width: 52px;
height: 34px;
z-index: 100000;
font-weight: 500;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.02em;

}

.pet-info h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.info_item{

  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.pet-info-value{
 
font-weight: 500;
font-size: 12px;
line-height: 1.17;
letter-spacing: -0.02em;
color:$black;

  }

  .lable{
font-weight: 500;
font-size: 10px;
line-height: 1.4;
letter-spacing: -0.02em;
color: rgba(38, 38, 38, 0.5);
  }
  .buttons_modal{
    display: flex;
    gap: 10px;
    
  }


  .name-rating{
    display: flex;
    gap: 8px;
    align-items: center;
   
   
  }
  .name-rating .star{
    width: 18px;
    height: 18px;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;

  }

  .info_item 
  {
    margin-top: 20px;
  }
  .info_item p{
    font-size: 12px;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: $black;
  }

.comment{
  font-family: var(--font-family);

  margin-top: 18px;
  margin-bottom: 40px;
  font-weight: 500;
font-size: 14px;
line-height: 1.29;
letter-spacing: -0.02em;
color: $black;
}

.buttons_modal button{
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  gap: 8px;
}

.buttons_modal img {
width: 19px;
height: 18px;
visibility: 0;
padding: 0;
}