@import "../styles/variables.scss";
@import "../styles/breakpoints.scss";

.my-notices {
  margin-top: 40px;
  .tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  

    .tab {
      padding: 10px 20px;
      cursor: pointer;

      &.active {
        background-color: $orange;
        color: $white;
      }
    }
  }

  .notices-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .notices-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @include md {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .button-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }

  .white-button {
    background-color:$white;
    color:$black;

    &:hover {
      background-color: #fff4df;
      color: $white;
    }
  }

  .active-button {
    background-color: $orange;
    color: $white;

    &:hover {
      background-color: darken($orange, 10%);
      color: $white;
    }
  }

  .pets_item {
    border: 1px solid rgba(38, 38, 38, 0.1);
    border-radius: 20px;
    width: 100%;
    max-width: 440px;
    
    transition-delay: 0.3s;
  }
}
