


@import "../styles/variables.scss";
@import "../styles/breakpoints.scss";

.notice {
    display: flex;
    .notice-img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 10px;
      margin-right: 10px;
    }
    .notice-info {
      display: flex;
      flex-direction: column;
      h3 {
        margin: 0;
        font-size: 1.2em;
      }
      p {
        margin: 5px 0;
      }
      .remove-favorite {
        background: none;
        border: none;
        cursor: pointer;
        color: red;
        .icon-trash {
          font-size: 1.5em;
        }
      }
    }
  }
  