@import "../styles/variables.scss";
@import "../styles/breakpoints.scss";


.pets_item {
    border: 1px solid rgba(38, 38, 38, 0.1);
    border-radius: 20px;
    padding: 16px;
    transition-delay: 0.3s;
  }
  
  .pets-data{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 8px;
  }
  .pets-data>p {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  .data-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
  }
  
  .data-item p:first-child {
font-weight: 500;
font-size: 12px;
line-height: 1.17;
letter-spacing: -0.02em;
color: $black;
  }
  

  h3 {
    margin-top: 14px;
    
font-weight: 700;
font-size: 18px;
line-height: 133%;
color:$black;
  }

  
  
  .favorite_button .favorit {
    width: 48px;  
    height: 48px;  
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .favorite_button .favorit:hover {
    transform: scale(1.1);
  }

  .name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  }

.rating{
  display: flex;
  align-items: flex-end;
  gap: 8px;
}