.pets-block {
    .add-pet {
      background-color: $orange;
      padding: 10px 20px;
      border-radius: 30px;
      text-decoration: none;
      color: $white;
      &:hover {
        background-color: $yellowlight;
        color: $orange;
      }
    }
    .pets-list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      .pet-item {
        display: flex;
        align-items: center;
        .pet-avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-right: 10px;
        }
        .pet-name {
          font-weight: 700;
        }
      }
    }
  }
  