
@import "../styles/variables.scss";
@import "../styles/breakpoints.scss";




.profile-page{
    display: flex;
    gap: 32px;
}
.user-card {
    display: flex;
       flex-direction: column;
       align-items: center;
       gap: 20px;
       border-radius: 60px;
   max-width: 520px;
   min-height: 674px;
   padding: 40px;
   background-color: $white;
  } 


  
    .logout-btn {
        background-color: #fff4df;
        color: $orange;
      }
  

      