@import "../styles/variables.scss";
@import "../styles/breakpoints.scss";



.section_registration {
    display: flex-wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 32px;
    height: 100vh;
  
}
.section_cat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    gap: 32px;
    height: 100vh;
    object-fit: cover;
    @include md {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        height: 100vh;
        object-fit: cover;
        margin: 0 auto;
    }
}
.img_registration {
}
.section_form {
    
}