

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
  
    .form-btn {
      background-color: #007bff;
      border: none;
      color: white;
      padding: 0.5rem 1rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .input-search {
      margin-left: 0.5rem;
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      flex-grow: 1;
    }
  }
  