
@import "../styles/variables.scss";
@import "../styles/breakpoints.scss";


.search_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    padding: 10px 20px;
    width: 100%;
    height: 216px;  
    position: relative;
    background-color: $yellowlight;
   
}

.radio_button{
    display: flex;
    gap: 8px;
    
}
.radio_button button{
    background-color:$white;
    color: $black;
    cursor: pointer;
    font-weight: 500;
font-size: 16px;
line-height: 1.25;
letter-spacing: -0.03em
}
.search_field_form{
    display: flex;
  gap: 20px;
   
}
.search{
    position: absolute;
    left:220px;
    top: 100px;
    cursor: pointer;
    color: rgba(38, 38, 38, 0.5);
    width: 18px;
    
   
}

.clear-icon{
    position: absolute;
    left: 200px;
    top: 95px;
    color: rgba(38, 38, 38, 0.5);
    display: none;
}
.search_field_input{
    border: none;
    outline: none;
    height: 40px;
    border-radius: 30px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
   
   
}

.search_field_input::placeholder{
    color: rgba(38, 38, 38, 0.5);
}

.search_location{
    position: absolute;
    right: 20px;
    top: 100px;
    cursor: pointer;
    color: rgba(38, 38, 38, 0.5);
    width: 18px;
}

.search_wrapper {
    // существующие стили
  }
  
  .search_field_form {
    // существующие стили
  }
  
  .radio_button {
    display: flex;
    gap: 10px;
  }
  
  .button_with_clear {
    margin-left: 8px;
    display: flex;
    align-items: center;
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
  